---
layout: default
---



<div class="home">

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        
          {%- if site.projects.size > 0 -%}
          <div class="row">
            <div class="col-md-12"><p class="lead">{{ page.list_title | default: "Selected Papers" }}</p></div>
          </div>

          {%- for project in site.projects reversed -%}
          <div class="media">
            <div class="media-left media-top">
              <a href="{{project.pointer}}">
                <img class="media-object img-responsive img-thumbnail" src="{{project.teaser}}" alt="{{project.title}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{project.title}}</h4>
              <!--  <span class="label label-primary">PAPER</span> -->
              <small>
                {{project.content}}
              </small>
            </div>
          </div>
          {%- endfor -%}

          {%- endif -%}



        </div> <!-- /col-md-9 -->

        <div class="col-md-3">
          
          </div> <!-- /col-md-3 -->
        </div> <!-- /row -->

      </div> <!-- /container -->

    </div> <!-- /home -->
